.EventCard-container {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
  
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}
  
    .priceTag {
      font-weight: bold;
      position: absolute;
      right: -15px;
      top: 50px;
      z-index: 2;
      background-color: rgb(255, 255, 255);
      padding: 5px;
      color: rgb(75, 70, 70);
      font-weight: bold;
      box-shadow: 5px 10px 5px;
      border-radius: 5px;
    }
  
    .event-img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      /* box-shadow: 5px 10px 5px 5px lightgray; */
      border-radius: 5px;
      /*   border:0 px #4b4b4b; */
      max-width: 100%;
      min-width: 100%;
    }
  
    .description-warper {
      word-wrap: break-word;
      overflow-x: hidden;
      position: absolute;
      right: 0;
      left: 0;
      width: 300px;
      height: 170px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      /* box-shadow: 5px 10px 5px  5px lightgray; */
      border-radius: 5px;
      text-align: center;
  
      /*   display: table; */
      display: flex;
      flex-wrap: wrap;
     
      max-width: 300px;
      min-width: 150px;
    }
      .time {
        color: red;
        font-weight: bold;
        position: relative;
        margin-top: 1em;
        float: left;
        height: 50px;
        /* height: fit-content; */
        /* margin-bottom: 100px; */
      }
      .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        float: right;
        text-overflow: ellipsis;
      }
      .event-title {
        margin-top: 1em;
        position: relative;
        float: center;
      }
      .more {
        position: relative;
        float: right;
        color: #35c772;
      }
      .more:hover {
        text-decoration: none;
      }
    
  
  
  @media (max-width: 790px) {
    .EventCard-container {
      gap: 250px;
    }
  
    .description-warper {
      word-wrap: break-word;
      overflow-x: hidden;
      position: absolute;
      right: 0;
      left: 0;
      width: 300px;
      height: 150px;
      box-shadow: 5px 10px 5px;
      border-radius: 5px;
      text-align: center;
  
      /*   display: table; */
      display: flex;
      flex-wrap: wrap;
    
      max-width: 100%;
      min-width: 100%;
    }
  
    .price {
      float: right;
      position: absolute;
      right: 0px;
      top: 50px;
      z-index: 2;
      padding: 5px;
      color: rgb(75, 70, 70);
      font-weight: bold;
      border-radius: 5px;
    }
  }
  
 
   
    .EDIT-priceTag 
      input {
        font-weight: bold;
        position: absolute;
        right: -15px;
        top: 50px;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        color: rgb(75, 70, 70);
        font-weight: bold;
        box-shadow: 5px 10px 5px;
        border-radius: 5px;
        width: 50px;
      }
   
  
    .description-warper {
      display: flex;
    }
  /*     align-content: center; */
      input.EDIT-event-date {
        color: red;
        font-weight: bold;
        position: relative;
        margin-top: 1em;
        float: left;
        height: 2em;
        width:fit-content;
        font-size: 10px;
  
      }
      .EDIT-event-title{
        margin-top: 1em;
        float: center;
        width: fit-content;
        height: 1em;
       /*  height: 40px; */
        margin: 0 auto;
        text-align: center;
      }
    
    .EDIT-event-description{
  position: relative;
  margin: 0 auto;
  
    }
    input {
    height: 1em;
   
    }
    .submit{
      position: relative;
      margin: 0 auto;
      height: 1.5em;
  
   
    }
    .imageUpload{
      height: 1.5em;
    }
  
  